@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
}

.container {
    max-width: 1200px !important;
    width: 100% !important;

}

.navbar {
    padding: 0;
    margin-top: 50px;
    position: relative;
    padding-left: 100px;
    display: flex;
}

.navlist ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.left {
    padding-right: 250px;
}

.left img {
    width: 100px;
}

.navlist ul li {
    display: inline-block;
    margin: 0 88px 0 0;
    position: relative;
}

.navlist ul li .font {
    list-style: none;
    text-decoration: none;
    height: 60px;
    line-height: 83px;
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}

.navlist ul li .font:hover {
    color: red;
    cursor: pointer;
}


.backimg {
    width: 100vw;
    margin-top: -109px;
}

.backimg img {
    width: 100vw;
}

.menu {
    position: relative;
    display: none;
    width: 48px;
    float: right;
    margin: -78px;
}

.btn {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    padding-bottom: 30px;
}

.btn button {
    width: 1195px;
    height: 50px;
    color: #fff;
    background: #1f1e1e;
    border-radius: 0 0 30px 30px;
    text-decoration: none;
    outline: 3px solid #fff;
    outline-offset: -3px;
    transition: 0.3s;

}

.btn button:hover {
    cursor: pointer;
    color: red;
    outline-offset: 3px;
}

.btn button a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;

}

.btn button a:hover {
    color: #eb0a1e;
    cursor: pointer;
    outline-offset: 10px;
}

.media {
    width: 100vw;
}

.media h1 {
    width: 100vw;
    height: 50px;
    display: flex;
    font-size: 30px;
    letter-spacing: 0.4em;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.178);
}

.media h3 {
    padding-top: 50px;
    padding-left: 50px;
    font-weight: bolder;
    font-size: 40px;
}

.media iframe {
    width: 1220px;
    border-radius: 10%;
    padding-left: 74px;
    padding-top: 23px;
}

footer {
    width: 100vw;
    background-color: #7170709e;
    height: 181px;
}

footer {
    width: 100vw;
    flex-direction: column;
}

.biglogo {
    padding-left: 619px;
}

.foo {
    display: flex;
    padding-left: 116px;
    justify-content: center;
}


.foo li {
    list-style: none;
    list-style-type: none;

}

.foo li a img {
    width: 50px;
    margin-right: 40px;

}

.foo li a img:hover {
    border: 2px solid #eb0a1e;
    border-radius: 100px;
}


@media only screen and (max-width:1000px) {
    body {
        background: #000;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        margin-top: 20px;
        display: flex;
        padding-left: 20px;
        float: right;
    }

    .left img {
        width: 60px;
    }

    .left {
        padding-right: 0;
    }

    .navlist ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .navlist {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #313030f8;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;

        transition: all 1s ease;
    }

    .navlist ul {
        padding-top: 100px;
    }

    .navlist ul li .font {

        margin-right: -100px;



    }

    .v-class {
        margin-top: -100px;
        width: 100px;
        height: 100px;
        opacity: 0;


    }

    .h-class {
        margin: -181px;
        margin-top: -100px;
        margin: -51px 88px 0 0;
        padding-left: 0;
    }

    .menu {
        display: block;
        width: 41px;
        float: right;
        margin: 5px;
        margin-right: 5px;
        margin-left: 5px;
        margin-right: -50px;
        margin-right: 10px;
        height: 40px;
        margin-left: 256px;
    }

    .backimg {
        width: 100vw;
        margin-top: -25px;
    }

    .media h1 {
        width: 100vw;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(39, 39, 39, 0.178);
    }

    .media h3 {
        padding-top: 80px;
        padding-left: 50px;
        font-size: 18px;
    }

    .media iframe {
        width: 374px;
        height: 205px;
        cursor: pointer;
        padding-left: 10px;
        border-radius: 10%;
        background: #000;
    }

    .btn {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5px;
        padding-bottom: 30px;
    }

    .btn button {
        width: 370px;
        height: 30px;
        color: #fff;
        background: #1f1e1e;
        border-radius: 0 0 12px 12px;
        border: solid rgba(0, 0, 0, 0);
        text-decoration: none;
    }

    .btn button a {
        text-decoration: none;
        color: #fff;
        font-weight: 900;

    }

    .biglogo {
        padding-left: 152px;
        width: 90px;
        display: block;
    }

    h5 {
        padding-top: 14px;
        padding-left: 45px;
        font-size: medium;
    }
    .foo {
        display: flex;
        padding-left: 44px;
        justify-content: center;
    }
}

@media only screen and (min-width:1280px) {
    .media iframe {
        width: 1201px;
        height: 613px;
        cursor: pointer;
        padding-left: 44px;
        border-radius: 10%;
        background: #000;
    }

}